<!DOCTYPE html>
<html>
<head>
  <title>DeadDrop</title>
  <%= stylesheet_link_tag    "dead_drop/application", media: "all" %>
  <%= javascript_include_tag "dead_drop/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
